:root {
  --white: #ffffff;
  --white-contrast-background: #fafafa;
  --white-contrast-background-dark: #eaeaea;
  --black: #000000;
  --highlight: #a5cf4f;
  --highlight-table: #825a97;
  --highlight-table-data: #ebe4ef;
  --error: #d42027;
  --success: #12954b;
  --primary-font-color: #707070;
  --dashboard-background-color: #1a6a76;
  --dashboard-background-color-dark: #0f4149;
  --dashboard-background-color-light: #649aa2;
  --contrast-background-color: #b2b2b2;
  --disabled-color: #a7a7a7;
  --font-family: 'Josefin Sans', sans-serif;
  --better-loss-bg-color: #91cf50;
  --not-applicable-loss-bg-color: #ff9393;
  --equal-loss-bg-color: #ffff99;
  --var-height: 70px;
  --production-calculator-table-header-color: #025125;
}
