.dashboard-button {
  height: 45px;
  width: 200px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;

  &--error {
    background-color: var(--error);
    color: var(--white);
  }

  &--success {
    background-color: var(--success);
    border-radius: 19px;
    color: var(--white);
  }

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:hover {
    transition: 0.3s ease;
    box-shadow: inset 0em 0em 0em 10em rgba(0, 0, 0, 0.3);
  }

  &:active {
    box-shadow: inset 0em 0em 0em 10em rgba(0, 0, 0, 0.6);
  }
}
